modules/apps/foundation/configuration-admin/*    @jorgeferrer
modules/apps/foundation/contacts/*    @jorgeferrer
modules/apps/foundation/password-policies-admin/*    @jorgeferrer
modules/apps/foundation/plugins-admin/*    @jorgeferrer
modules/apps/foundation/portal-configuration/*    @jorgeferrer
modules/apps/foundation/portal-instances/*    @jorgeferrer
modules/apps/foundation/portal-settings/*    @jorgeferrer
modules/apps/foundation/roles/*    @jorgeferrer
modules/apps/foundation/server/*    @jorgeferrer
modules/apps/foundation/user-groups-admin/*    @jorgeferrer
modules/apps/foundation/users-admin/*    @jorgeferrer