name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
  # Allows manual run of workflow
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [ 14.x ]

    steps:
    - name: Checkout source code
      uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    # https://github.com/actions/cache/blob/main/examples.md#node---yarn
    - name: Get Yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

    - uses: actions/cache@v2
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-${{ matrix.node-version }}-

    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: yarn
      env:
        USE_HARD_LINKS: false

    - name: Lint packages
      run: yarn run test:lint

    - name: Build all packages
      run: yarn run build:all:ci
  
    - name: Run tests
      run: yarn test
  